/***************************
GENERAL SETTINGS
***************************/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {
    font-size: 75%; /* 12px */
}

body {
    box-sizing: border-box;
    color: #001c47;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    padding: 2%;
    backface-visibility: hidden;
}

.container__body {
    background-color: #f9fbff;
}

.clearfix {
    clear: both;
    content: "";
    display: table;
}

li {
    list-style: none;
}

.section__title {
    color:#001c47;
    display: table;
    font-size: 3.25rem;
    font-weight: 400;
    letter-spacing: .65rem;
    margin: 7rem auto;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 1px 2px rgba(0,0,0, .3);
    transition: all .2s;

}

.section__title:after {
    content: "";
    background-color: #001c47;
    display: block;
    height: 1px;
    margin: 1.7rem auto;
    width: 15rem;
}

.section__title:hover {
    transform: scale(1.05);
    text-shadow: 0 2px 5px rgba(0,0,0, .3);
}

/***************************
ANIMATION
***************************/

@keyframes moveInRight {
  from {left: 90%;
    width: 200%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes moveInBottom {
  from {
    margin-bottom: 90%;
    width: 200%; 
  }

  to {
    margin-bottom: 0%;
    width: 100%;
  }

}

/*
@keyframes rotation {
    from {
        transform: rotate(270deg);
    }
    
    to {
        transform: rotate(0deg);
    }
}
*/

/***************************
LOGO
***************************/

.icon {
    color: rgba(242, 242, 242, .9);
    font-size: 5rem;
    position: absolute;
    top: 2.5%;
    left: 3.5%;
    -webkit-animation-name: moveInRight;
    animation-name: moveInRight;
    animation-duration: 1s;
}


/***************************
HEADER
***************************/


.container__header {
    backface-visibility: hidden;
    background-image: linear-gradient(to right bottom,
        rgba(4, 36, 86, .6),
        rgba(4, 36, 86, .7),
        rgba(4, 36, 86, .85)),
        url(img/hero_1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    clip-path:  polygon(0 0, 100% 0, 100% 100%, 0 88vh); /*polygon(0 0, 0 100%, 75vh 100%, 0 100%);*/
    height: 100vh;
    position: relative;
/*    width: 100%;*/
    overflow: auto;
 
}

.container__title {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#container__title--main,
#container__title--secondary {
    text-shadow: 0 4px 7px rgba(0,0,0, .3);
    line-height: 120%;
}

.container__title--main {
    -webkit-animation-name: moveInRight;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease;
    color: #f2f2f2;
    display: block;
    font-size: 8rem;
    font-weight: 400;
/*    line-height: 110%;*/
    letter-spacing: 1.7rem;
    text-transform: uppercase;
}

.container__title--secondary {
    -webkit-animation-name: moveInBottom;
    animation-name: moveInBottom;
    animation-duration: 1s;
    animation-timing-function: ease;
    color: #f2f2f2;
    display: block;
    font-size: 3.25rem;
    font-weight: 400;
    letter-spacing: .65rem;
    text-align: center;
    text-transform: uppercase;
}

.container__title--main, .container__title--secondary, .container__title--btn {
      text-shadow: 0 2px 4px rgba(0,0,0, .2);
}

.container__title--btn {
    border: 1px solid rgba(242,242, 242, .8);
    border-radius: 12px;
    color: #f2f2f2;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 1rem;
    margin: 5rem;
    width: 50%;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s;
}

.container__title--btn:hover {
    
    background-color: rgba(242,242, 242, .8);
    border: none;
    color: #001c47;
    text-decoration: none;
    transform: scale(.96) translateY(2px);
}

/***************************
SECTION OFFER
***************************/

.section__offer {
    background-attachment: fixed;
    background-image: linear-gradient(to left bottom,
        rgba(4, 36, 86, .85),
        rgba(4, 36, 86, .7),
        rgba(4, 36, 86, .6)),
        url(img/offer_high_2.jpg);
    background-position: center;
    background-size: cover;
    clip-path: polygon(0 10vh, 100% 0, 100% 100%, 0 95vh);
    height: 100vh;
    overflow: hidden;
    position: relative;
   
}

/*
.section__offer__row [class^="section__offer__row--"]:not(:last-child) {
    margin-right: 5%;
    
}
*/

.section__offer__row {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.section__offer__row--one {
    float: left;
    border-right: 2rem solid #f9fbff;
    height: 60rem;
    width: 25%;
/*
    -webkit-clip-path: polygon(0 0, 100% 0, 96% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 96% 100%, 0 100%);
*/
    
}

.section__offer__row--two {
    float: left;
    height: 60rem;
    border-right: 2rem solid #f9fbff; 
    width: 35%;
/*
 
    -webkit-clip-path: polygon(0 0, 100% 0, 95% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 95% 100%, 0 100%);
*/
}

.section__offer__row--three {
    float: left;
    height: 61rem;
    width: 40%;
/*
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
*/
   
}

/***************************
SECTION PRICES
***************************/


.section__content {
    background-attachment: fixed;
    background-image: linear-gradient(to right bottom,
    rgba(4, 36, 86, .9),
    rgba(4, 36, 86, .8),
    rgba(4, 36, 86, .7)),
    url(img/test_1_high.jpg);
    background-position: center;
    background-size: cover;
    -webkit-clip-path: polygon(0 0, 100% 6vh, 100% 94vh, 0 100%);
    clip-path: polygon(0 0, 100% 6vh, 100% 94vh, 0 100%);
    height: 100vh;
    margin: 0 auto;
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

/* Pictures of the plan headers */

.section__content__plan--header1 {
    background-image: linear-gradient(to right bottom,
        rgba(4, 36, 86, .75),
        rgba(4, 36, 86, .8),
        rgba(4, 36, 86, .85)),
        url(img/hero_2.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: difference;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    color: #f2f2f2;
    padding: 20%;
    text-shadow: 0 1.5em 4em rgba(0,0,0, .2);
   
}

.section__content__plan--header2 {
    background-image: linear-gradient(to right bottom,
        rgba(12, 92, 114, .85),
        rgba(12, 92, 114, .9),
        rgba(12, 92, 114, .95)),
        url(img/price_1_low.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: color;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    color: #f2f2f2;
    padding: 20%;
    text-shadow: 0 1.5em 4em rgba(0,0,0, .2);
   
}

.section__content__plan--header3 {
    background-image: linear-gradient(to right bottom,
        rgba(4, 36, 86, .75),
        rgba(4, 36, 86, .8),
        rgba(4, 36, 86, .85)),
        url(img/offer_low_1.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    color: #f2f2f2;
    padding: 20%;
    text-shadow: 0 1.5em 4em rgba(0,0,0, .2);
   
}

.section__content__row {
    display: flex;
    height: auto;
    /* margin: 10% auto; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 94rem;
}

.section__content__plan {
    background-color: rgba(255,255,255, .85);
    box-shadow: 0 1.5em 4em rgba(0,0,0, .2); /* variable $*/
    border-radius: 3px;
    -webkit-clip-path: polygon(0 0, 100% 2%, 100% 99%, 0 100%);
    clip-path: polygon(0 0, 100% 2%, 100% 99%, 0 100%);
    display: block;
    float: left;
    margin: 0 auto;
/*    padding: 3%;*/
    width: 30%;
}

#section__content__plan--standard {
    -webkit-clip-path: polygon(0 2%, 100% 0%, 100% 100%, 0 99%);
    clip-path: polygon(0 2%, 100% 0%, 100% 100%, 0 99%);
}

.section__content__plan h3 {
    text-shadow: 0 1.5px 4em rgba(0,0,0, .3);
    font-size: 3.5rem;
    font-weight: 400;
/*    margin-bottom: 1.5rem;*/
    text-transform: uppercase;
    text-align: center;
}

.section__content__plan p {
    margin-bottom: 1.5rem;
}

.section__content__plan-details  {
    line-height: 4.5rem;
    font-weight: 400;
    padding: 4%;
    text-align: center;
    text-transform: uppercase;
    
}


.section__content__plan-details li:not(:last-child)  {
    border-bottom: 1px solid #f2f2f2;
}

/***************************
TESTIMONIALS
***************************/

.video {
    background: linear-gradient(to left bottom,
    rgba(4, 36, 86, .95),
    rgba(4, 36, 86, .90),
    rgba(4, 36, 86, .85));
    background-position: center;
    background-size: cover;
    -webkit-clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 90%);
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 90%);
}

.section__video {
    -webkit-clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 90%);
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 90%);
    opacity: .15;
    object-fit: cover;
    overflow: hidden;
    height: 95vh;
    max-width: 100%;
/*    width: 100%;*/
    z-index: -1;
}



/***************************
FOOTER
***************************/

footer {
    background: linear-gradient(to left bottom,
    rgba(4, 36, 86, .9),
    rgba(4, 36, 86, .8),
    rgba(4, 36, 86, .7));
    -webkit-clip-path: polygon(0 4%, 100% 0, 100% 100%, 0 100% );
    clip-path: polygon(0 4%, 100% 0, 100% 100%, 0 100% );
}

.footer__content {
    color: #f2f2f2;
/*    background-color: #001c47;*/
    margin-top: 5rem;
    padding: 3%;
    text-transform: uppercase;
    letter-spacing: .2rem
}






















        
